owner.username=

html.data.directory=

discord.token=
discord.relay.channel=

twitch.bot.name=
twitch.oauth.irc-token=
twitch.oauth.websocket-client-id=
twitch.channel=

misterfpga.ip=

hibernate.connection.url.hosted=
hibernate.connection.username.hosted=
hibernate.connection.password.hosted=

hibernate.connection.url.local=
hibernate.connection.username.local=
hibernate.connection.password.local=

hibernate.connection.url.test=
hibernate.connection.username.test=
hibernate.connection.password.test=

generation.output.directory=