<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        -->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hbm2ddl.auto">update</property>
        <!--
        -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.dataSourceClassName">com.mysql.jdbc.jdbc2.optional.MysqlDataSource</property>

        <mapping class="com.schlock.bot.entities.pokemon.ShinyBet" />
        <mapping class="com.schlock.bot.entities.base.User" />

        <mapping class="com.schlock.bot.entities.pokemon.ShinyGet" />
        <mapping class="com.schlock.bot.entities.pokemon.ShinyHisuiGet" />

        <mapping class="com.schlock.bot.entities.pokemon.ShinyDexEntryGo" />
        <mapping class="com.schlock.bot.entities.pokemon.ShinyDexEntryHisui" />
        <mapping class="com.schlock.bot.entities.pokemon.ShinyDexEntryLetsGo" />
        <mapping class="com.schlock.bot.entities.pokemon.ShinyDexEntryMain" />

        <mapping class="com.schlock.bot.entities.pokemon.GuessingStreak" />

        <mapping class="com.schlock.bot.entities.base.alert.Alert" />
        <mapping class="com.schlock.bot.entities.base.alert.TwitchAlert" />
        <mapping class="com.schlock.bot.entities.base.alert.AnimationAlert" />

    </session-factory>
</hibernate-configuration>